{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <a class="navbar-brand" href="/"><img class="logo" width="60px" src="{% static 'img/logo.png' %}" alt="Logo"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'heim:listado_ticket_trabajador' %}">Mis Tickets</a>
      </li>
      
      <li class="nav-item">
          <a class="nav-link" href="{% url 'heim:crear_ticket' %}">Crear Ticket</a>
      </li>
      {% if request.user.es_tecnico or request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'heim:listado_ticket_tecnico' %}">Gestión de Tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'heim:historial_ticket' %}">Historial de Tickets</a>
        </li>
        {% if request.user.es_tecnico %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'heim:documentos' %}">Manuales</a>
          </li>
        {% endif %}
        {% if request.user.es_administrador or request.user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'heim:gestionar_documentos' %}">Gestión de manuales</a>
          </li>
        {% endif %}
        {% if request.user.es_administrador %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'heim:listado_ticket_administrador' %}">Administración</a>
        </li>
        {% endif %}
        {% if request.user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'heim:gestionar_tickets' %}">Administración de Tickets</a>
          </li>
        {% endif %}
      {% endif %}
      {% if request.user.es_administrador or request.user.is_superuser or request.user.es_tecnico%}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'heim:informacion_tecnicos' %}">Información Técnicos</a>
        </li>
        {% endif %}
    </ul>
    <a class="btn btn-light my-2 my-sm-0 mr-2" target="_blank" href="https://correo.dendorgames.es/"><i class="fa-regular fa-envelope"></i></a>
    <a href="{% url 'heim:perfiles' request.user.username %}" class="btn btn-light my-2 my-sm-0 mr-2" type="submit">Perfil</a>
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button class="btn btn-light my-2 my-sm-0" type="submit">Cerrar Sesión</button>
    </form>
  </div>
</nav>
