{% extends "base.html" %}
{% load static %}

{% block titulo %}HISTORIAL DE TICKETS{% endblock titulo %}
{% block contenido %}
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 text-center mb-5">
					<h2 class="heading-section">HISTORIAL DE TICKETS</h2>
					<h5>Busca y filtra tickets en el sistema</h5>
					<form action="{% url 'heim:historial_ticket' %}" method="get">
						<div class="form-row align-items-center">
							<div class="col-md-4 mt-2">
								<label for="descript" class="mr-2">Descripción</label>
								<input name="q" type="text" class="form-control form-control-md" placeholder="Descripción del ticket...">
							</div>
							<div class="col-md-4 mt-2">
								<label for="cat" class="mr-2">Categoría</label>
								<select name="cat" class="form-control form-control-md" id="cat">
									<option value="All">All</option>
									{% for categoria in categorias %}
									<option value="{{categoria.problema}}">{{categoria.problema}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-md-4 mt-2">
								<label for="subcat" class="mr-2">Subcategoría</label>
								<select name="subcat" class="form-control form-control-md" id="subcat">
									<option value="All">All</option>
									{% for subcategoria in subcategorias %}
									<option value="{{subcategoria.subcategoria}}">{{subcategoria.subcategoria}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="form-row align-items-center mt-2">
							<div class="col-md-3 mt-2">
								<label for="prior" class="mr-2">Prioridad</label>
								<select name="prior" class="form-control form-control-md" id="prior">
									<option value="All">All</option>
									{% for prioridad in prioridades %}
									<option value="{{prioridad.prioridad}}">{{prioridad.prioridad}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-md-3 mt-2">
								<label for="tec" class="mr-2">Técnico</label>
								<select name="tec" class="form-control form-control-md" id="tec">
									<option value="All">All</option>
									{% for tecnico in tecnicos %}
									<option value="{{tecnico.id }}">{{tecnico.username}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-md-3 mt-2">
								<label for="est" class="mr-2">Estado</label>
								<select name="est" class="form-control form-control-md" id="est">
									<option value="All">All</option>
									<option value="Creado">Creado</option>
									<option value="Confirmado">Confirmado</option>
									<option value="Aceptado">Aceptado</option>
									<option value="Escalado">Escalado</option>
									<option value="Resuelto">Resuelto</option>
								</select>
							</div>
							<div class="col-md-3 mt-6">
								<button class="btn btn-primary w-100" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>
			
			
			
			<div class="row justify-content-center">
				<div class="col-xl-13">
					<div class="table-wrap">
						<table class="table table-striped">
						  <thead>
						    <tr>
						      <th>id</th>
						      <th>Trabajador</th>
							  <th>Empresa</th>
						      <th>Categoría</th>
						      <th>Subcategoría</th>
						      <th>Fecha</th>
                              <th>Estado</th>
                              <th>Prioridad</th>
                              <th></th>
						    </tr>
						  </thead>
						  <tbody>
                            {% for ticket in object_list %}
						    <tr>
						      <td scope="row">{{ ticket.id }}</td>
						      <td >{{ ticket.trabajador }}</td>
							  <td >{{ ticket.trabajador.empresa }}</td>
						      <td>{{ ticket.subcategoria.categoria.problema }}</td>
						      <td>{{ ticket.subcategoria.subcategoria }}</td>
						      <td>{{ ticket.fecha }}</td>
                              <td>{{ ticket.estado }}</td>
							  {% if ticket.subcategoria.prioridad == 'Baja' %}
							  	<td><button class="btn btn-info text-center">&nbsp;BAJA&nbsp;</button></td>
							  {% elif ticket.subcategoria.prioridad == 'Media' %}
							  	<td><button class="btn btn-warning text-center">MEDIA</button></td>
							  {% elif ticket.subcategoria.prioridad == 'Alta' %}
							  	<td><button class="btn btn-danger text-center">&nbsp;ALTA&nbsp;</button></td>
							  {% endif %}
						      <td><a href="{% url 'heim:detalle_ticket_tecnico' ticket.id %}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="20" height="20"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"/></svg></a></td>
							  
							</tr>
                            {% endfor %}
							
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock contenido %}


  {% comment %} <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/popper.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script> {% endcomment %}


